{% extends 'base.html.twig' %}

{% block title %}Editar perfil{% endblock %}

{% block body %}

<h1>Editar perfil</h1>

{{ form_start(form) }}
    {{ form_row(form.avatar) }}
    {{ form_row(form.banner) }}
    {{ form_row(form.bio) }}

    <button type="submit">
        Guardar cambios
    </button>
{{ form_end(form) }}

{% endblock %}