{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block banner %}
    <div class="main-banner">
        <img src="{{ asset('images/banner-default.jpg') }}" alt="Grimorio de Builds">
    </div>
{% endblock %}

{% block body %}
<div class="form-box">
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
