{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}

<h1>{{ post.title }}</h1>

<p>
    Juego:
    {{ post.game.name }}
</p>

<p>
    Autor:
    {{ post.user.username }}
</p>

<p>
    {{ post.content }}
</p>

{% if post.image %}
    <img src="/uploads/{{ post.image }}" alt="">
{% endif %}

<p>
    Creado:
    {{ post.createdAt|date('d/m/Y H:i') }}
</p>

<hr>

<a href="{{ path('game_forum', {'slug': post.game.slug}) }}">
    Volver al foro
</a>

<hr>

<h2>Comentarios</h2>

{% for comment in comments %}

    <div>

        <strong>
            {{ comment.user.username }}
        </strong>

        <p>
            {{ comment.content }}
        </p>

        <small>
            {{ comment.createdAt|date('d/m/Y H:i') }}
        </small>

        <br><br>

        <a href="{{ path('comment_like', {'id': comment.id}) }}">
            👍 {{ comment.likes }}
        </a>
        |
        <a href="{{ path('comment_dislike', {'id': comment.id}) }}">
            👎 {{ comment.dislikes }}
        </a>

        {% if app.user and app.user == comment.user %}
        |
        <a href="{{ path('comment_delete', {'id': comment.id}) }}">
            Eliminar
        </a>
        
{% endif %}

    </div>

    <hr>

{% else %}

    <p>No hay comentarios todavía.</p>

{% endfor %}

<h3>Escribir comentario</h3>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Enviar</button>
{{ form_end(form) }}

{% endblock %}